{% extends 'Aeidl/home.html' %}
{% load static %}
{% block content %}
    <div class="container" style="background-image: url({% static 'image/asd.jpg' %}); width: 100%; height: 100%;">
        <div class="container" style="width: 80%; border:1px solid black; margin-top: 2%; margin-bottom: 2%;
            background: white; padding-top: 2%;">
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">
                    {% if form.changed_data %}
                        Update
                    {% else %}
                        Register
                    {% endif %}
                    Exam
                </h2>
                {{ form.errors }}
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="form-group">
                            <label class="upper"
                                   for="{{ form.patient.name }}">{{ form.patient.label }}</label>
                            {{ form.patient }}
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-2">
                        <div class="form-group">
                            <label class="upper"
                                   for="{{ form.medic.name }}">{{ form.medic.label }}</label>
                            {{ form.medic }}
                        </div>
                    </div>
                     <div class="col-md-12 col-md-offset-2">
                        <div class="form-group">
                            <label class="upper"
                                   for="{{ form.study.name }}">{{ form.study.label }}</label>
                            {{ form.study }}
                        </div>
                    </div>
                     <div class="col-md-12 col-md-offset-2">
                        <div class="form-group">
                            <label class="upper"
                                   for="{{ form.status.name }}">{{ form.status.label }}</label>
                            {{ form.status }}
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-2">
                        <div class="form-group">
                            <label class="upper"
                                   for="{{ form.file.name }}">{{ form.file.label }}</label>
                            {{ form.file }}
                        </div>
                    </div>
                    {% if form.changed_data %}
                        <div class="col-md-12 col-md-offset-2">
                            <div class="form-group">
                                <label class="upper"
                                       for="{{ form.result.name }}">{{ form.result.label }}</label>
                                {{ form.result }}
                            </div>
                        </div>
                    {% endif %}
                    <hr style="width:98%; border-color: black">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="form-group text-center">
                            <button class="btn btn-primary text-uppercase"
                                    type="submit"><i class="fa fa-save mr-2"></i>Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}