{% extends 'base/base.html' %}
{% block content %}{% endblock %}
{% block menu_options %}
    <!-- Nav Item - Company -->
    {% if perms.AppAeidl.view_company %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'company_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Company</span>
            </a>
        </li>
    {% endif %}

    <!-- Nav Item - Personal Medico -->
    {% if perms.AppAeidl.view_medic %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'medic_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Staff Medic</span>
            </a>
        </li>
    {% endif %}

    <!-- Nav Item - Tables -->
    {% if perms.AppAeidl.view_patient %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'paciente_list' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Patient</span></a>
        </li>
    {% endif %}

    {% if perms.AppAeidl.view_entity %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'entity_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Entity</span>
            </a>
        </li>
    {% endif %}

    {% if perms.AppAeidl.view_specialty %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'specialty_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Specialty</span>
            </a>
        </li>
    {% endif %}

    {% if perms.AppAeidl.view_role %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'role_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Role</span>
            </a>
        </li>
    {% endif %}

    {% if perms.AppAeidl.view_study %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'study_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Study</span>
            </a>
        </li>
    {% endif %}

    {% if perms.AppAeidl.view_exam %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'exam_list' %}">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Exam</span>
            </a>
        </li>
    {% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
{% endblock %}
